.box_basic_view {
	background-color: var(--color-5);


	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 16rem 14rem 33rem 13rem 13rem 13rem;



}

.size_main_section {
	width: 100%;
	height: 100%;
}
