.svg_name {
    fill: red;

    position: absolute;
    z-index: 4;

    animation: glitch 12.1s infinite normal;


}

.svg_name:nth-child(2){
    fill: lightcoral;
    
    z-index: 3;

    transform: translateY(2%) translateX(.5%);


    animation: glitch 9.1s infinite normal;




}

.svg_name:nth-child(3){
    fill: blue;

    z-index: 2;

    
    animation: glitch 2.1s infinite normal;


    transform: translateY(6%) translateX(1%);


}

@keyframes glitch {
    0%{
        opacity: 1;

    }
    10%{
        opacity: 0;
        
    }
    11%{
        opacity: 1;
        
    }
    66%{
        opacity: 1;
        
    }
    67%{
        opacity: 0;
        
    }
    68%{
        opacity: 1;
        
    }
    78%{
        opacity: 0;
        
    }
    79%{
        opacity: 1;
        
    }
    90%{
        opacity: 0;
        
    }
    91%{
        opacity: 1;
        
    }
    92%{
        opacity: 0;
        
    }
    98%{
        opacity: 1;
        
    }
    
}