/* FIRST SECTION: PERSONAL_DATA */

.main_section_personal_data {
    background-color: #010101;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.personal_data_photo {
    /* background-color: rgba(0, 0, 0, 0.993); */
    margin-top: 2rem;

    width: 50%;
    height: 100%;

    /* border-radius: 10rem; */

    background-size: contain;
    background-position: center;
    background-image: url("../../assets/img/myphotonobg.png");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.personal_data_name {
    /* background-color: rgba(0, 0, 255, 0.26); */

    width: 50%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr 1fr ;
}

.personal_data_name_section {
    /* background-color: rgba(0, 128, 0, 0.26); */

    width: 100%;

}

.box_name {
    /* background-color: rgba(128, 128, 128, 0.295); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_name {
    width: 100%;

    padding-inline: 8rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container_surname {
    width: 100%;

    padding-inline: 8rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box_social_network_icons {
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;

    padding-inline: 3rem;
}

.sn_link {
    cursor: pointer;

    height: 100%;
    max-width: 5%;
    transition: .1s;

    fill: #ffffff;
    color: black;

}

.sn_link:hover {
    /* transform: scale(1.05); */
    fill: var(--color-green-1);
    transition: .2s;
}

.sn_link svg {
    height:40%;
}

.links_data_indicator {
    background-color: var(--color-blue-1);

    position: absolute;

    height: 30vh;

    width: 100%;

    transition: .2s;

}

.fullstack_title {
    margin-top: 1rem;
    height: 28%;
    width: 100%;

    opacity: .8;

    transition: 2s;
}
