/* TEMPORARY */
.disclaimer {
	background-color: var(--color-red-1);

	
	font-family: 'Roboto Mono', monospace;

	position: absolute;
	top: 0%;
	left: 0%;

	z-index: 6;

	height: 5%;
	width: 100vw;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.disclaimer p {
	color: #010101;
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
}

.frontpage {
	background-color: rgb(0, 0, 0);

	height: 100%;
	width: 100%;

	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 5;
}

.frontpage_text {
	height: 5em;
	transform: scale(2);
} 

.temporary_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

	background-color: var(--color-red-1);
	position: absolute;
	z-index: 7;
	bottom: 0%;

    width: 100%;
    padding-inline: 10%;
}


.sn_link {
    cursor: pointer;

    max-width: 5%;
    transition: .1s;

    fill: #ffffff;
    color: black;

    height: 3rem;

}

.sn_link:hover {
    /* transform: scale(1.05); */
    fill: var(--color-green-1);
    transition: .2s;
}

.sn_link svg {
    height:40%;
}



@media screen and (max-width: 500px) {
	.frontpage_text {
		transform: scale(1);
		margin-block: -1em;
	} 

    .disclaimer p {
        font-size: .8em;
    }
}