.App {
  text-align: center;

  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow-y: scroll; 
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #e5e5f7;

}

#animSvg {

  fill: var(--color-green-1);

  animation: svgPath 2s ease-in-out,
  svgFill 2s ease-in-out;

  stroke: var(--color-green-1);
  stroke-dasharray: 100 0;

}

#animSvg2 {

  fill: var(--color-green-1);
  
  animation: svgPath 2s ease-in-out,
  svgFill 2s ease-in-out;

  stroke: var(--color-green-1);
  stroke-dasharray: 100 0;


}

#animTitleSvg {

  animation: svgPath 2s ease-in-out,
  svgFill 2s ease-in-out,
  strokeFill 1s normal;

  stroke: rgba(255, 255, 255, 0.438);
  stroke-dasharray: 100 0;

}

@keyframes svgPath {
  0% {
      stroke-dasharray: 0 100;
  }
  30% {
    stroke-dasharray: 10 30;
  }
  80% {
      stroke-dasharray: 30 40;
  }
  86% {
      stroke-dasharray: 50 30;
  }
  90% {
    stroke-dasharray: 30 50;
  }
  95% {
      stroke-dasharray: 90 10;
  }
  100% {
      stroke-dasharray: 100 0;
  }
}
  
@keyframes svgFill {
  0% {
      fill: transparent
  }
  0% {
      fill: var(--color-red-1);
  }
  50% {
      fill: var(--color-red-2);
  }
  80% {
      fill: var(--color-green-2);
  }
  100% {
      fill: var(--color-green-1);
  }
}

@keyframes strokeFill {
  0% {
      stroke: transparent
  }
  10% {
      stroke: var(--color-red-1);
  }
  50% {
      stroke: var(--color-red-2);
  }
  80% {
      stroke: var(--color-green-2);
  }
  100% {
      stroke: transparent;
  }
  
}