.App {
  text-align: center;

  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow-y: scroll; 
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #e5e5f7;

}

/* MOBILE MEDIA SCREENS */
/* 400PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 400px) {


}