/* FONTS */


/* ROOTING MAIN COLORS */
:root {

  
  --color-blue-1: #8386f5;
  --color-blue-2: #3d43b4;
  --color-blue-3: #041348;

  --color-green-1: #1afe49;
  --color-green-2: #083e12;

  --color-red-1: #de004e;
  --color-red-2: #860029;

  --color-violet-1: #f887ff;
  
}

/* GLOBAL CLASS */
* {
  margin: 0%;
  padding: 0%;

  box-sizing: border-box;

  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

/* DEFAULT CONFIG */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GLOBAL CLASSES */

/* POSITIONING */
/* FLEX: CENTERED CONTENT */
.centered_content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* SIZING */
.size_full_screen {

  height: 100vh;
  width: 100vw;
}

.size_full_container {

  height: 100%;
  width: 100%;
}

.size_section_center_column {

  /* height: 100vh; */
  height: fit-content;
  width: 56rem;

}

/* MOBILE MEDIA SCREENS */
/* 400PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 650px) {
  .size_section_center_column {
    width: 26rem;
  
  }

}